{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Srajan Sharma</h1>
          <span class="subheading">Software Engineer</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
           ”I hold a Bachelor’s degree in Electronics and Communication Engineering from GL Bajaj Institute of Technology and Management. My academic background has given me a strong foundation in both hardware and software principles, enabling me to bridge the gap between these domains effectively. I
            have developed a keen interest in software development honing my skills in various programming languages and software engineering principles.
        <p>
          I am eager to leverage my technical skills and academic background in a professional setting,where I can continue to grow and make meaningful contributions
            to the field of software development. ”
        </p>
        <p>
          I am from Uttar Pradesh, a state known for its rich history, culture, and diversity. Growing up here has been an incredible experience, as it has shaped my values and perspective on life. Uttar Pradesh is home to a variety of traditions and customs, and I feel proud to be part of such a vibrant community.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
